body {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

h1 {
  color: green;
  text-align: center;
}

div {
  width: 99%;
  border: 1px black solid;
}

div:hover {
  border: 1px black dashed;
}
